
/* DEVELOPER Erik Guaman, IS117-004, Spring 2022 */

header{
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #fd882d;
}

header img{
    float: left;
    height: 90px;
    width: 100px;
    border: 2px solid #1434A4;
    margin-right: 15px;
}

header h2{
    padding: 20px;
    margin-bottom: 0;
    color: #236CA7;
    font-family: Optima, sans-serif;
}

body {
    background-image: linear-gradient(
            30deg, #fd882d 25%, white 50%, #fd882d 75%);
}

body p{
    padding: 0 20px 0 20px;
}
body main{
    float: left;
    padding: 0 6%;
    width : 50%;
    margin-bottom: 5%;
}

body main h3{
    font-family: Apple Chancery, cursive;
    color: #236CA7;
    font-weight: bolder;
}

body main ul{
    font-family: Georgia, serif;
    font-size: large;
}

.asideRight{
    float: left;
    width : 40%;
    text-align: center;
    border: 2px solid #1434A4;
    height: 350px;
    margin: 0 4%;
}

#collapsibleNavbar ul li{
    float: left;
    text-align: center;
    padding-left: 30%;
}

.dropdown-menu{
    width: 100%;
    text-align: center;
}

.container-fluid{
    width: 100%;
    margin: 0 12px 0 12px;
    padding: 0 0 20px 0;
}

.navbar-brand{
    padding-left: 6%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}

@media only screen and (max-width: 767px) {
     .asideRight{
        height: 740px;
        border-image-repeat: stretch;
    }

    div.container{
        padding: 5% 20%;
    }

    #collapsibleNavbar ul li{
        text-align: left;
        float: left;
        padding-left: 11%;
    }

    .dropdown-menu{
        width: 25%;
        text-align: center;
    }
}
