
/* DEVELOPER Erik Guaman, IS117-004, Spring 2022 */

header{
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #fd882d;
}

header img{
    float: left;
    height: 90px;
    width: 100px;
    border: 2px solid #1434A4;
    margin-right: 15px;
}

header h2{
    padding: 20px;
    margin-bottom: 0;
    color: #236CA7;
    font-family: Optima, sans-serif;
}


div.image{
    margin: 0 32.75%;
    border: 2px solid #1434A4;
    height: 304px;
    width: 35.25%;
}

body {
    background-image: linear-gradient(
            30deg, #fd882d 25%, white 50%, #fd882d 75%);
}

body main{
    padding: 20px 20px 30px 20px;
    margin: 20px;
}

body main h3{
    font-family: Times, Times New Roman, serif;
    color: #236CA7;
}

body main p{
    font-family: Georgia, serif;
}

body h6{
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: large;
}

#collapsibleNavbar ul li{
    float: left;
    text-align: center;
    padding-left: 30%;
}

.dropdown-menu{
    width: 100%;
    text-align: center;
}

.container-fluid{
    width: 100%;
    margin: 0 12px 0 12px;
    padding: 0 0 20px 0;
}

.navbar-brand{
    padding-left: 6%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}

@media only screen and (max-width: 767px) {

    div.container{
        padding: 5% 20%;
    }

    #collapsibleNavbar ul li{
        text-align: left;
        float: left;
        padding-left: 11%;
    }

    .dropdown-menu{
        width: 25%;
        text-align: center;
    }

    div.image{
        margin: 0 18%;
    }
    
}
